# Python

## Vairable Assignment

In [106]:
a = 1 
b = 2
c = a + 2
d = b + 2   

print(a, b, c, d)

1 2 3 4


## Operators

Operators: `+`, `-`, `*`, `/`, `%`, `//`, `**`

In [2]:
# plus
1 + 3

4

In [3]:
# minus
3 - 1

2

In [4]:
# multiplication
3 * 4

12

In [5]:
# devision
3 / 4

0.75

In [6]:
# quotient
43 // 6

7

In [7]:
# Remainder, Mod
43 % 6

1

## Types

- Integer
- Floating point
- Boolean
- String
- NoneType
- Tuple
- List
- Set
- Dictionary

### String

In [8]:
# two types of declaring a string
type("abc"), type('abc')

(str, str)

In [9]:
# if you want to use ' letter in the string use ", vice versea / or add \(escape letter) with '
print("I said 'hi' at that moment.")
print('I said \'hi\' at that moment.')

I said 'hi' at that moment.
I said 'hi' at that moment.

In [10]:
# can add two strings
"he" + "llo"

'hello'

In [11]:
# can calculate length of string
len("abcdefg")

7

In [75]:
# can use `strip` to remove some parts on the left&right side of string, like newline letter `\n`
"abc def\n".strip('\n')

'abc def'

In [76]:
# can use `split` split the string
"abc, def".split(",")

['abc', ' def']

In [12]:
# format string: when you want to use a certain format for a variable
# add 'f' letter in the front of astring / use `.format` method at the back of a string
# 정수 = d
x = 34
print("정수")
print(f"{x:03d}")
print("{:03d}".format(x))
print("-----")
# 소수점 4자리 = .4f
x = 34.51
print("소수")
print(f"{x:.4f}")
print("{:.4f}".format(x))

정수
034
034
-----
소수
34.5100
34.5100

### Integer

In [13]:
type(1)

int

In [116]:
# type change
x = 1
str(x)

'1'

### Floating Point

In [14]:
type(3.4)

float

In [15]:
# declare infinity
float("inf"), float("-inf")

(inf, -inf)

In [16]:
# from python3, interger will be automatically transfter to float type
3 / 3.4

0.8823529411764706

### Boolean

`True` 와 `False`가 있음

In [17]:
type(True), type(False)

(bool, bool)

### None

In [18]:
type(None)

NoneType

### Tuple

* 순서가 있는 데이터를 담는 자료구조
* 특징: immutable(한 번 생성하면 데이터를 바꿀 수 없음), ordered, iterable, subscriptable

In [19]:
x_tuple = (1, 2, 3)
type(x)

float

In [20]:
# `tuple` is immutable data structure
x_tuple[2] = 4

TypeError: 'tuple' object does not support item assignment

In [21]:
# using len function to get the length of `tuple`
len(x_tuple)

3

### List

* 순서가 있는 데이터를 담는 자료구조
* 특징: mutable(생성 후에도 데이터를 바꿀 수 있음), ordered, iterable, subscriptable

In [3]:
x_list = [1, 2, 3]
type(x_list)

list

In [4]:
# add new element at end of list
x_list.append(4)
print(x_list)
# remove a certain index in the list
x_list.remove(4)
print(x_list)

[1, 2, 3, 4]
[1, 2, 3]

In [23]:
# check if an element is in a list
4 in [1, 2, 3, 4]

True

In [23]:
# create a list with duplicated numbers
[3] * 20

[3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3]

In [24]:
# `list` is mutable data structure
x_list[2] = 5
x_list

[1, 2, 5]

In [25]:
# using len function to get the length of `list`
len(x_list)

3

Python에서 index는 0부터 시작한다

In [128]:
x_list = [1, 2, 3, 4, 5, 6]
# slice index from 1 ~ 4 
#      1  2  3  4
#  [1, 2, 3, 4, 5, 6]
x_list[1:5]

[2, 3, 4, 5]

In [123]:
# slice index from begining ~ 2 
#   0  1  2
#  [1, 2, 3, 4, 5, 6]
x_list[:3]

[1, 2, 3]

In [124]:
# slice index from behind
#              -2  -1
#  [1, 2, 3, 4, 5, 6]
x_list[-2:]

[5, 6]

In [127]:
# slice even index(0, 2, 4)
#   0     2     4 
#  [1, 2, 3, 4, 5, 6]
x_list[0:6:2]

[1, 3, 5]

In [26]:
# tuple VS list
import sys
print(f"Memory size of `x_tuple`: {sys.getsizeof(x_tuple)} bytes")
print(f"Memory size of `x_list`: {sys.getsizeof(x_list)} bytes")

Memory size of `x_tuple`: 64 bytes
Memory size of `x_list`: 80 bytes

In [83]:
%%timeit

# list comprehension: Faster way to create list
data = []
for i in range(10):
    data.append(i)

877 ns ± 25 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

In [84]:
%%timeit

data = [i for i in range(10)]

625 ns ± 17.1 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

### Set

* 정렬되지 않고(unordered, python3.6 이후로는 아님) 고유한(distinct) 데이터으로 이루어진 자료 구조
* 특징: mutable, unordered(python3.6 이후로는 아님), iterable

In [27]:
x_set = {5, 2, 3}
type(x_set)

set

In [28]:
# `set` is immutable data structure
x_set[2] = 4

TypeError: 'set' object does not support item assignment

In [29]:
# using len function to get the length of `set`
len(x_set)

3

### Dictionary

* 중복되지 않는 key와 value 쌍을 데이터로 가진 정렬되지 않은(unordered) 변경가능한(mutable) 자료구조
* 특징: mutable, unordered(python3.6 이후로는 아님), iterable

In [30]:
x_dict = {"a": 1, "b": 2}
type(x_dict)

dict

In [31]:
# add a new key-value pair
x_dict["c"] = 3
x_dict

{'a': 1, 'b': 2, 'c': 3}

In [32]:
# can get dictionary value by using get method
# if there is nothing with a certain key it will return `None` value
print(x_dict.get("a"))
print(x_dict.get("d"))

1
None

In [33]:
# can insert key into '[]' to get dictionary value
# if there is nothing with a certain key it will return KeyError
print(x_dict["b"])
x_dict["d"]

2

KeyError: 'd'

In [34]:
x_dict.keys()

dict_keys(['a', 'b', 'c'])

In [35]:
x_dict.values()

dict_values([1, 2, 3])

In [36]:
x_dict.items()

dict_items([('a', 1), ('b', 2), ('c', 3)])

---

## Useful Operations

* Logical operation
* Relation operation
* If
* Iterator for & while

### Logical operation

**AND**: `A and B`

|A|B|Result|
|---|---|---|
|True|True|True|
|True|False|False|
|False|True|False|
|False|False|False|

**OR**: `A or B`

|A|B|Result|
|---|---|---|
|True|True|True|
|True|False|True|
|False|True|True|
|False|False|False|

**NOT**: `not A`

|A|Result|
|---|---|
|True|False|
|False|True|

In [42]:
# In Python `1=True`, `0=False`
1 and 0

0

In [51]:
True or False

True

In [5]:
not True

False

### Relation operations

* `>`, `<`, `>=`, `<=`, `==`, `!=` 
* `is`

In [52]:
213 == 3

False

In [53]:
2 != 2

False

In [70]:
# check if it is empty list
[] is not None

True

In [22]:
[] == True

False

In [86]:
# if something exist it will return True
["d", 2] is not None

True

In [69]:
# `is` VS `==`
# `is`: if variables are pointing same object return True (same object means pointing same memory point)
# `==`: if variables have same value return True
a = [1, 2, 3]
b = a
c = [1, 2, 3]
print(f"Are `a` and `b` same objects? {a is b}")
print(f"  ID a: {id(a)} | ID b: {id(b)}")
print(f"Are `a` and `c` same objects? {a is c}")
print(f"  ID a: {id(a)} | ID c: {id(c)}")
print()
print(f"Do `a` and `b` have same values? {a == b}")
print(f"Do `a` and `c` have same values? {a == c}")

Are `a` and `b` same objects? True
  ID a: 2114698177088 | ID b: 2114698177088
Are `a` and `c` same objects? False
  ID a: 2114698177088 | ID c: 2114691088960

Do `a` and `b` have same values? True
Do `a` and `c` have same values? True

In [88]:
# Short-circuit evaluation
def check_if_run():
    return "Runned"

print(f"1) {1 and check_if_run()}")       # need to check both condition
print(f"2) {1 or check_if_run()}")        # can skip second condition since first is always True
print(f"3) {0 or check_if_run() or 1}")   # can skip third condition since second is always True
print(f"4) {0 or 1 or check_if_run()}")   # can skip third condition since second is always True
print(f"5) {0 or check_if_run() and 1}")  # need to check all condition

1) Runned
2) 1
3) Runned
4) 1
5) 1

### If

In [54]:
if True:
    print("This is True")
elif True:
    print("This is elif True")
else:
    print("This is else")

This is True

In [47]:
# equivalent to `False` in if statement
print("equivalent to `False` in if statement")
if not None:
    print("None")
if not []:
    print("Empty List")
if not {}:
    print("Empty Set")
if not 0:
    print("Zeros")

equivalent to `False` in if statement
None
Empty List
Empty Set
Zeros

### Iterator and for, while

* Iterable: 반복 가능한 객체
* `list`, `dict`, `set`, `str`, `tuple`, `range`, `enumerate`
* 모든 Iterable 객체는 `iter` 함수로 iteration을 할 수 있다.

In [112]:
# all iterable objects, can be iterated by `iter` function
x = [1, 2, 3]
iter(x)

In [55]:
# range: include first value, not include the last value
for i in range(1, 4):
    print(i)

1
2
3

In [110]:
# loop 1 to 9 by 2 step
for i in range(1, 10, 2):
    print(i)

1
3
5
7
9

In [115]:
# while loop: find the even number from 0 ~ 9
i = 0
while (i < 10):
    if i % 2 == 0:
        print(i)
    i += 1

0
2
4
6
8

In [56]:
# use enumerate when you want to iterate the index with the values
for i, v in enumerate([1, 2, 3]):
    print(i, v)

0 1
1 2
2 3

* `in` operation

### other functions

In [2]:
x = [1, 2, 3]
print(f"Summation: {sum(x)}")
print(f"Maximum: {max(x)}")
print(f"Minimum: {min(x)}")

Summation: 6
Maximum: 3
Minimum: 1

# Exercise 1

In [132]:
def getIDnumber(data: dict) -> str:
    r"""
    Given dictionary data
    - year, month, day: int, assume no error data in month=(1~12), day=(1~31)
    - gender: str (male / female), always lower form
    return the personal id
        
    format id: A-B
        part A: last 2 digits of year + 2 digits month(with zero padded) + 2 digits day(with zero padded)
        part B: 1 digit calculated by gender and birth + post_id_number
        
        1 digit in part B is calculated by following table
        
        |  year   | male | female |
        |---------|------|--------|
        |  < 2000 |  1   |    2   |
        | >= 2000 |  3   |    4   |
    
    example)
    ```
    data = {
        'year': 2002,
        'month': 4,
        'day': 3,
        'gender': 'male',
        'post_id_number': 681355
    }
    ```

    return the id '020403-3681355' with string type
    """
    # write the code from here
    
    
    return

In [ ]:
# Test the function

test_data = [
    ({'year': 2002,'month':  4,'day':  3, 'gender':   'male', 'post_id_number': 681355}, '020403-3681355'),
    ({'year': 1990,'month': 12,'day':  1, 'gender': 'female', 'post_id_number': 654682}, '901201-2654682'),
    ({'year': 1998,'month':  9,'day': 13, 'gender':   'male', 'post_id_number': 987132}, '980913-1987132'),
    ({'year': 2010,'month':  3,'day': 31, 'gender': 'female', 'post_id_number': 874682}, '100331-4874682')
]

answer_list = []
for data, answer in test_data:
    answer_list.append(getIDnumber(data) == answer)

print(f"Correct: {sum(answer_list)}")

---

# Modules, Functions and Class

## How to write a custom functions?

```python
def my_func_name(parameter1, parameter2, ...):
    
    # do something
    return

# Example
def plus_absolute(x, y):
    return abs(x + y)
```

In [12]:
# same Intendant block is important
def a():
    print(3)
  return 3

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 4)

## How to import Modules?

In [26]:
import math
type(math)

module

In [34]:
# module is also an object, it has attributes and methods
print("# Attributes")
print(math.__doc__)
print(math.pi)
print()
print("# Methods")

print(math.sqrt(4))

# Attributes
This module provides access to the mathematical functions
defined by the C standard.
3.141592653589793

# Methods
2.0

In [36]:
# can also import certain function from module
from math import sqrt

print(f"sqrt function from math module: {sqrt(4)}")  

# but do not override the imported function
sqrt = 123

print(f"overrided `sqrt` {sqrt(4)}")

sqrt function from math module: 2.0

TypeError: 'int' object is not callable

## How to create a module?

1. create a new file
2. write a function

    ```python
    def calculate_square_root(x):
        return x**(1/2)
    ```
3. save with ".py" extention
4. import the module

In [37]:
from custom_model import calculate_square_root

calculate_square_root(4)

2.0

## Class

* Class is another type of object that has variables and functions similar to module
* Class VS Class object
    - A class is a blueprint, definition of its attributes and methods (but not real yet)
    - A class object is a class' instance (realization of a blueprint)

In [72]:
# Blue print
class Math():
    def __init__(self):
        self.document = "this is a math module"  # attributes
    
    def sqrt(self, x):  # methods, first argument must be `self` to point the class object
        return x**(1/2)
    
print(Math)

<class '__main__.Math'>

In [73]:
# declare a class instance object
# `__init__` function will be called when it declared 
math = Math()
print(type(math))
print(math.document) # can get the attribute `document`
print(math.sqrt(4))

<class '__main__.Math'>
this is a math module
2.0

# File IO

## How to read a file?

"cardata.txt"

```text
Model, Company, Type, Price
Model3, Tesla, electronic, 55000000
Genesis GV70, Hyundai, diesel, 48000000
K7, Kia, gasoline, 40000000
```

In [63]:
# open a file
fileIO = open('./cardata.txt', mode='r', encoding="utf-8")
fileIO.read()

'Model, Company, Type, Price\nModel3, Tesla, electronic, 55000000\nGenesis GV70, Hyundai, diesel, 48000000\nK7, Kia, gasoline, 40000000\n'

In [64]:
# once read, fileIO will not contains any data 
fileIO.read()

''

In [65]:
fileIO.close()

In [66]:
# using `with` statement can open file without close the file manually
with open('./cardata.txt', mode='r', encoding="utf-8") as fileIO:
    data = fileIO.readlines()  # readlines will return a list by new line
    
data

['Model, Company, Type, Price\n',
 'Model3, Tesla, electronic, 55000000\n',
 'Genesis GV70, Hyundai, diesel, 48000000\n',
 'K7, Kia, gasoline, 40000000\n']

## How to write a file?

In [69]:
with open('./write_excercise.txt', mode='w', encoding='utf-8') as fileIO:
    # 2 ways to do it
    # if using fileIO must add newline letter '\n'
    fileIO.write("Write using `write` method.")
    # when using print it will automatically create a new line
    print("Write using `print` function.", file=fileIO)
    
    fileIO.write("End of document")

In [70]:
with open('./write_excercise.txt', mode='r', encoding='utf-8') as fileIO:
    print(fileIO.read())

Write using `write` method.Write using `print` function.
End of document

# Excercise 2

In [79]:
class CarDataset():
    def __init__(self, data_path):
        """
        1. read data from `data_path` and save it to `self.data` attribute
        2. complete `calculate_average_price`
            (55000000 + 48000000 + 40000000) / 3
        
        "cardata.txt"

        ```
        Model, Company, Type, Price
        Model3, Tesla, electronic, 55000000
        Genesis GV70, Hyundai, diesel, 48000000
        K7, Kia, gasoline, 40000000
        ```
        
        """
        with open(data_path, mode='r', encoding='utf-8') as file:
            data = [line.strip() for line in file.readlines()]
            
        self.data = data
        
    def calculate_average_price(self):
        
        price_list = []
        for line in self.data[1:]:
            # fill the code
            row_data = line.split(",")
            price_list.append(int(row_data[-1].strip()))
            
        return sum(price_list) / 3

In [80]:
car_ds = CarDataset(data_path="./cardata.txt")
car_ds.calculate_average_price()

47666666.666666664